header {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0 0 0 3.5rem;
}

li {
  padding: 0.5rem 0.5rem 0 1rem;
}

input {
  font-size: 1rem;
  margin-left: 0.5rem;
}

button {
  margin-left: 0.5rem;
}

form {
  margin-bottom: 0.5rem;
}

.error {
  color: red;
  margin: -0.3rem 0 0 5rem;
}